{% extends 'base.html' %}
{% load static %}
{% block title %}E-Store Products{% endblock %}
{% block content %}

<div class="container">
    <br>
    <div class="row">
    <div class="col-12 col-md-12 col-lg-6 ">
        <div style="min-min-width:18rem;">
            <img src="{{Product.image.url}}" alt="{{product.name}}">
                </div>
</div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
        <div>
            <h3>{{product.name}}</h3>
            <h3>{{product.price}}</h3>
            <p>{{product.description}}</p>
            {% if product.stock <= 0 %}
            <p class="text-justify">Out of stock</p>
            {% else %}
            <a class="btn btn-primary" href="#">Add to cart</a>
            <br>
            <br>
            {% endif %}

        </div>

</div>
</div>
    </div>
{% endblock %}